// Цвета
$primary-bg: #fff7eb;
$primary: #ff6633;
$secondary: #334155;
$accent: #3b82f6;

// Размеры шрифтов
$font-size-sm: 13px;
$font-size-base: 15px;
$font-size-lg: 17px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
